<h1>Peeps</h1>

<ul>
  <% peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>"><strong><%= peep.content %></strong>
      <em>
        Posted by <%= peep.user.username %> aka <%= peep.user.name %>
                  <%= peep.created_at.strftime('at %H:%M on %d-%m-%Y') %>
      </em>
    </li>
  <% end %>
</ul>
